{% form_theme form '@BitBagSyliusProductBundlePlugin/Admin/Form/productBundleItem.html.twig' %}

<div class="ui tab" data-tab="bundle">

    {{ form_row(form.productBundle.isPackedProduct) }}
    {{ form_help(form.productBundle.isPackedProduct, {
        'help': 'bitbag_sylius_product_bundle.ui.is_packed_help'|trans,
        'help_attr': {'class':'ui info message'}
    }) }}
    {{ form_row(form.productBundle.productBundleItems) }}

    {{ sonata_block_render_event('sylius.admin.product.' ~ action ~ '.tab_bundle', {'form': form }) }}
</div>
