{% form_theme form '@SyliusShop/form/theme.html.twig' %}

{% if product.isBundle %}
    {% set product_bundle_items = form.productBundleItems %}
    <div id="sylius-product-selecting-variant">
        <h4 class="mt-4">{{ 'bitbag_sylius_product_bundle.ui.products_in_bundle'|trans }}</h4>
        {% for item in product_bundle_items %}
            {% set data = item.vars.data %}
            <div class="card">
                <div class="card-body">
                    <strong>
                        {{ data.quantity }} x {{ data.productVariant.product.name }}
                    </strong>
                    {% if item.productVariant is defined %}
                        {{ form_row(item.productVariant) }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="mb-3"></div>
{% endif %}
